<nav class="block top-navigation">
  <header class="heading block">
    <a routerLink="/" routerLinkActive="active " class="main-title-link">
      <h1 class="main-title light-gray text-upper text-center text-normal">{{(navigationTab | async)?.title}}</h1>
    </a>
    <h2 class="subtitle text-upper text-center text-normal">{{(navigationTab| async)?.subtitle}}</h2>
  </header>
  <div class="tabs">
    <div *ngFor='let tab of (navigationTab | async)?.navigationTabs' class="nav-tab text-center text-upper">
      <a routerLink="{{tab.url}}" [routerLinkActive]="['is-active']" class="nav-tab-link">{{tab.title}}</a>
    </div>
  </div>
</nav>
