:host{
    display: block;
    min-height: 100vh;
    margin-top: 240px;
}

@font-face {
    font-family: 'almonidlAAAregular';
    src: url('../../assets/fonts/almoni/almoni-dl-aaa-regular.otf') format('opentype');
}

@font-face {
    font-family: 'almonidlAAAbold';
    src: url('../../assets/fonts/almoni/almoni-dl-aaa-bold.otf') format('opentype');
}

button {
    outline: none !important;
}


.navigationPageContainer{
    margin-bottom: 48px;
}


/* 100% Image Width on Smaller Screens */

