 
:host{  background-color:red; }
   
    
.black-line{
    height: 48px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    background-color: #000000;
}

.main-content{
    margin-bottom: 48px;
}