:host {
    border-bottom: 48px solid #000000;
    border-top: 1px solid #000000;
    display: block;
}
.bottom-nav-wrapper{
    line-height: 48px;
    text-align: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 24px;
}