:host {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 546px;
    margin: 0 auto;
}

.img {
    padding: 20px;
}

.img-responsive {
    border-radius: 2em;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease, box-shadow 0.3s ease-in-out;
    
}

.img-responsive:hover {
    opacity: 0.8;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}

.thumbnail {
    border: none;
    width: 13em;
    height: 13em;
    outline: none;
    padding: 12px;
    margin: 0px;
}